.label {
    -fx-background-color: rgba(128, 128, 128, 0.25);
    -fx-border-color: grey;
    -fx-border-width: 1px;
    -fx-background-radius: 1em 1em 0 1em;
    -fx-border-radius: 1em 1em 0 1em;
    -fx-text-fill: ladder(background, white 49%, black 50%);
}

/* Dialog container styling */
#dialogContainer {
    -fx-background-color: transparent;
    -fx-padding: 20;
    -fx-spacing: 15;
    -fx-background-radius: 25;
}

/* Individual dialog boxes */
.dialog-box {
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-background-radius: 20;
    -fx-padding: 12 18 12 18;
    -fx-border-radius: 20;
}

.reply-label {
    -fx-background-radius: 1em 1em 1em 0;
    -fx-border-radius: 1em 1em 1em 0;
}

#displayPicture {
    /* Shadow effect on image. */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 5, 5);

    /* Change size of image. */
    -fx-scale-x: 1;
    -fx-scale-y: 1;

    /* Rotate image clockwise by degrees. */
    -fx-rotate: 0;
}
